
/* ---------------------------   COMMON   --------------------------- */
body {
    background-color: #141414;
}

.wrapper {
    margin: auto;
    max-width: 1300px;
}

ul {
    margin-bottom: 0 !important;
}

.news,
.projecteur,
.about {
    border-bottom: 1px solid #c89739;
}

footer,
.projecteur,
.map {
    border-top: 1px solid #c89739 !important;
}

.display-4,
.lead,
.nav-link,
.accroche-link,
.footer-link,
.sessions-link,
#five,
#six,
#seven,
#eight, 
.subtitle-article,
.card-body,
.contact-text {
    color: #ffff !important;
}

.content-one,
.content-two,
.content-three,
.content-four, 
.sessions-link,
.card {
    border-radius: 3px;
    border: 1px solid #c89739;
}

#five,
#six,
#seven,
#eight {
    font-size: 1.5rem;
    margin: 0;
}

.card {
    background-color: transparent;
}

.card-subtitle,
.contact-subtile {
   font-weight: 400;
   padding: 8px 0;
}

/* ---------------------------   HEADER NAVIGATION   --------------------------- */
.navbar-brand {
    margin-left: 150px !important;
}

.collapse {
    margin-left: 250px !important;
}

.nav-item {
    margin-left: 15px !important;
}

.nav-link {
    padding: 8px 15px !important;
    border: 1px solid transparent !important;
}

.active {
    border: 1px solid #c89739 !important;
    border-radius: 3px;
}

.nav-link:hover {
    transition: .5s !important;
    border: 1px solid #c89739 !important;
    border-radius: 3px;
}

.dropdown-menu {
    background: #141414 !important;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-item:hover {
    color: #c89739 !important;
    background-color: transparent !important;
}


/* ---------------------------   FOOTER  --------------------------- */
.footer-link:hover {
    border-bottom: 1px solid #c89739 !important;
}


/* ---------------------------   CONTENT  --------------------------- */
.projecteur {
    min-height: 270px;
    background-image: url(../image/home/projecteur.jpg); 
}

.accroche {
    text-align: center;
    text-shadow: 5px 2px 2px #121111;
    margin-left: 550px
}

.lead {
    color: #fda400 !important;
    font-weight: 300 !important;
}

.information {
    color: #fad390;
    line-height: 20px;
}

.accroche-link:hover {
    color: #fff;
    border-bottom: 1px solid #c89739;
}
.block-articles {
    margin-top: 25px;
}

.subtitle {
    color: #c89739;
}

.subtitle-article {
    padding: 10px 0;
}

.content-one,
.content-two,
.content-three,
.content-four {
    text-align: left !important;
    max-width: 300px !important;
    max-height: 110px !important;
    padding: 0 0 10px 10px !important;
}

.date {
    color: #c89739;
    margin-bottom: 15px;
}
time {
    color: #fad390;
    font-style: italic;
    font-weight: 300 !important;
}

/* ----- CAROUSEL ----- */
.sessions-list {
    display: flex;
    justify-content: center;
}

.sessions-item {
    margin-left: 20px;
}

.sessions-link {
    padding: 8px 15px !important;
}

.autoplay {
    max-width: 900px !important;;
    max-height: 400px;
    margin: 0 auto;
}

.poster {
    min-width: 300px !important;
    min-height: 400px !important;
    color: #fff !important;
    text-align: center !important;
    margin: 15px 8px !important;
}

.subsutitles {
    color: #c89739 !important;
}

.movies-link:hover {
    color: #c89739;
}

/* ----- MAP ----- */
iframe {
  min-width: 70vw;
  min-height: 610px;
  border: 1px solid #c89739;
  border-radius: 10px;
  box-shadow: 5px 5px -5px #2a2826;
}

.about-span {
    font-weight: bold;
}

.contact-link:hover {
    color: #fff;
    border-bottom: 1px solid #c89739;
}


/* min-width => supérieur à */
/* maw-width => inférieur à */
@media screen and (max-width: 1470px) {
    .navbar-brand {
        width: auto;
        margin-left: 0 !important;
    }
    .collapse {
        margin-left: 0 !important;
    }

    .nav-item {
        margin-left: 10px !important;
    }

    .nav-link,
    .active {
        border: initial !important; 
    }

    .nav-link {
        margin: 5px 0;
        padding: 10px 0 !important;
    }

    .nav-link:hover {
        border: initial !important;
    }

    .active {
        color: #c89739 !important;
    }

    .projecteur,
    .accroche {
        max-width: 1000px !important;
    }

    .projecteur {
        margin: 0 50px 0 130px;
        justify-content: end;
        border: 1px solid #c89739;
    }

    .accroche {
        margin-left: initial;
    }

    .container-foot {
        flex-direction: column !important;
    }

    .col-foot {
        flex-direction: column;
    }
}

@media screen  and (max-width:990px) {
    .projecteur {
        margin: 0 10px;
    }
}